body {
  width: min(20em, 40vw);
  margin: 2in auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 0px;
}

h1 {
  font-family: 'Trebuchet MS';
}

p {
  font-size: 18px;
}

#clicks {
  border: 1px solid black;
  background: #d8d9da;
  padding: 1em;
}
fieldset {
  padding: 0;
  border: 0px solid black;
  margin: 0;
  font-family: monospace;
  font-size: 14px;
}
#clicks p {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 14px;
}
