body {
  width: 40em;
  margin: 1in auto;
}

h1 {
  font-family: sans-serif;
}

p {
  font-size: 18px;
}


canvas {
  border: 1px solid black;
}




#generate {
  background-color: #ffffff00;
  border: 1px solid black;
  padding: 15px 250px;
}

